[submodule "ethcore/res/wasm-tests"]
	path = ethcore/res/wasm-tests
	url = https://github.com/paritytech/wasm-tests
[submodule "ethcore/res/ethereum/tests"]
	path = ethcore/res/ethereum/tests
	url = https://github.com/origolab/medietas-tests.git
